<div class="color-choripan"><br>
    <div class="row">
        <div class="col"><br>
            <h2>Choripan</h2><br>
            <p>No es un completo, ya que los completos son pa cualquiera y los choripanes son pa los grandes.<br>
            2 choripanes recién salidos de la parrilla con pebre casero, la cuestión rica hermano.<br>
            Lo que si, no comai tantos que después no te queda guata pal asao.</p>
        </div>
        <div class="col">
            <img src="/assets/img/choripan.webp" width="400">
        </div>
    </div><br>
</div>