<div class="color-terremoto"><br>
    <div class="row">
        <div class="col">
            <img src="/assets/img/terremoto.jpg" width="400">
        </div>
        <div class="col"><br>
            <h2>Terremoto</h2><br>
            <p>Honestamente pienso que este trago debería tomarse todo el año y no sólo el 18, porque es super rico.<br>
            El meo vaso de pipeño, con helao de piña y un poco de granadina, un manjash.<br>
            Lo que si, el helao debe estar hecho de agua, porque el de crema queda horrible.</p>
        </div>
    </div>
</div>