<div class="color-completo"><br>
    <div class="row">
        <div class="col">
            <h2>Completo</h2><br>
            <p>El completo lo solimos comer a la hora de once, o también en la calle antes de subir a la micro.<br>
            A veces los ambulantes los hacen con salchichas Til-til y mayo Don Juan, pero si teni hambre lo encontrai rico igual.</p>
        </div>
        <div class="col">
            <img src="/assets/img/completo.jpg" width="400">
        </div>
    </div>
    <br>
</div>