<div class="color-empanada"><br>
    <div class="row">
        <div class="col">
            <br>
            <h2>Empanada de horno</h2><br>
            <p>Esta comida se calienta en el tostador y se come con tecito, sino no eri chileno.<br>
            De que te quemai con el jugo, te quemai, pero su sabor hace que no te duela, magia negra!<br>
            Y lo mejor es que con una quedai lleno!!!</p>
        </div>
        <div class="col">
            <img src="/assets/img/empanada-pino.jpg" width="400">
        </div>
    </div><br>
</div>