<div class="fondo"><br><br>
    <div class="row">
    <div class="col-2">
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
        <img src="/assets/img/indio-picaro.png" width="200"><br>
    </div>
    <div class="col-8">
        <h1>Feliz 18 cabros!!!</h1><br>
        <p>Si hay algo que nos caracteriza como chilenos es la comida.<br>
        Es por eso, que hoy les traigo un pequeño homenaje a...</p><br><br>
        <h2>Las comidas nacionales más queridas por los chilenos</h2><br><br>
        <app-completo></app-completo><br>
        <app-sopaipilla></app-sopaipilla><br>
        <app-empanada></app-empanada><br>
        <app-pastel-de-choclo></app-pastel-de-choclo><br>
        <app-humita></app-humita><br>
        <app-anticucho></app-anticucho><br>
        <app-choripan></app-choripan><br>
        <app-chorrillana></app-chorrillana><br>
        <app-piscola></app-piscola><br>
        <app-terremoto></app-terremoto><br><br><br><br><br><br>
    </div>
    <div class="col-2">
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
        <img src="/assets/img/chile.webp" width="200"><br><br>
    </div>
</div>
</div>